
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#calc {
    width: 300px;
    height: 400px;
    margin: 20px auto;
    box-shadow: 0px 5px 10px rgb(192, 192, 192);
}

.calc-body {
  width: 300px;
  height:  80%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.calculator__row {
  border: 1px solid grey;
  flex: 1 1 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  background: #C7C7C7;
}

.calculator__button {
  width: 25%;
  height: 100%;
  cursor: pointer;
  font-size: 1.5em;
  border: 1px solid lightgrey;
}

button:focus {
  outline: none;
}

button:nth-child(4) {
  background: rgb(121, 195, 255);
  border: 1px solid rgb(121, 195, 255);
}

.input-div {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  border: 1px solid grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  background: #ebebeb;
  font-size: 2em;
}


